<ng-template #info>
  <h2 class="p-4">logged: {{ auth$ | async }}</h2>
</ng-template>
<div class="box">
  <app-form-generator
    #g
    *ngIf="!(auth$ | async); else info"
    [formConfig]="formConfig"
    (action)="onAction($event)"
  >
    <ng-template>
      <div class="flex">
        <div>
          <ng-container
            [appFieldGenerator]="{ config: formConfig[0], form: g.form }"
          ></ng-container>
        </div>
        <div>
          <ng-container
            [appFieldGenerator]="{ config: formConfig[1], form: g.form }"
          ></ng-container>
        </div>
      </div>
      <ng-container
        [appFieldGenerator]="{ config: formConfig[2], form: g.form }"
      ></ng-container>
    </ng-template>
  </app-form-generator>
</div>
