<h3 class="!text-xl">Form Generator</h3>

<div class="flex gap-5">
  <div class="">
    <app-form-generator #g (action)='onAction($event)' [formConfig]='formConfig$ | async'></app-form-generator>
  </div>
  <div class="box p-4">
    <pre class="whitespace-pre-wrap">{{g.form.value | json}}</pre>
    <div style="color: red" *ngFor="let error of errors">
      {{error|json}}
    </div>
  </div>
</div>
