<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [disableClose]="!(isHandset$ | async)" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a routerLink="/">
        <img class="w-24" src="https://debugger.pl/assets/vectors/logo.svg" alt="">
      </a>
    </mat-toolbar>
    <mat-nav-list (click)="navClickHandler()">
      <a mat-list-item routerLinkActive="active-list-item" routerLink="items">items</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="cart">cart</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="register">register</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="game">game</a>
    </mat-nav-list>
    <div class="text-sm text-neutral-500 p-4">v. {{ version }}</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex">
      <div class="flex-1">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>demo-ng-adv-store-app</span>
      </div>
      <div>
        <a routerLink="cart" class="mx-8">
          <mat-icon class="top-3" matBadge="{{ cartCount$ | async }}" matBadgeColor="warn" color="secondary"
            matBadgePosition="above after">
            shopping_cart</mat-icon>
        </a>
        <a routerLink="login" *ngIf="!(auth$ | async)">
          <button mat-raised-button color="warn">Log in</button>
        </a>
        <button *ngIf="auth$ | async" (click)="logOut()" mat-raised-button color="warn">
          Log out
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="p-4">
      <router-outlet></router-outlet>
      <div class="p-4 mt-4 bg-gray-100 shadow-md rounded">
        <mft-wc-wrapper [options]="footer"></mft-wc-wrapper>
      </div>
      <app-spinner></app-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
