<app-data-grid [data]="data$|async|keyvalue" [headers]='["key", "value"]'>
  <ng-template let-data>
    <td>{{data.key}}</td>
    <td>
      <div [ngSwitch]="data.key">
        <div *ngSwitchCase="'imgSrc'"><img [src]="data.value" width="100"></div>
        <div *ngSwitchDefault>{{data.value}}</div>
      </div>
    </td>
  </ng-template>
</app-data-grid>
