<div class="box p-5">
  <header>
    <h1 class="!m-0">Szkolenie Angular Zaawansowane | Demo aplikacji</h1>
  </header>

  <p>
    Aplikacja stanowi część szkolenia.
    <br>
    Jest sposobem na utrwalenie materiału oraz pomaga lepiej zrozumieć poruszane podczas szkolenia zagadnienia.
    <br>
    Jej celem są kwestie edukacyjne a nie aplikacja sama w sobie.
  </p>


  <p>Koniecznie się zaloguj
    <a mat-raised-button routerLink="login">zaloguj się</a>
    - login i hasło masz wpisane.
  </p>
  <p>
    Projekt się zmienia; w razie problemów z API pobierz najnowszą wersję z
    repo i sprawdź end-pointy w pliku api.ts.
  </p>

</div>
