@tailwind base;
@tailwind components;
@tailwind utilities;

.notification {
  white-space: pre-wrap;
  color: white;
  border-radius: 5px;

  * {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: inherit !important;
  }

  button {
    @apply rounded text-white bg-black bg-opacity-10 shadow-inner hover:bg-opacity-70 #{!important};
  }

  &.error {
    @apply bg-red-600;
  }

  &.info {
    @apply bg-blue-700;
  }

  &.success {
    @apply bg-green-600;
  }

  &.warning {
    @apply bg-yellow-500;
  }
}

.box {
  @apply shadow-md border border-neutral-200 rounded;
}
